

<div class="container pt-4">
  <h1 class="title">Users filter</h1>
  <div class="row mt-4">
    <div class="col-4">
      <div class="dropdown">
        <!-- <label for="cars">Choose a car:</label> -->
      
        <select  class="form-select" (change)="onChangeGenre($event)">
          <option value="all">All genders</option>
          <option value="female">Female</option>
          <option value="male">Male</option>
          <option value="others">Others</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="dropdown">
        <!-- <label for="cars">Choose a car:</label> -->
      
        <select  class="form-select" (change)="onChangeStatus($event)">
          <option value="all">All status</option>
          <option value="Pending">Pending</option>
          <option value="Open">Open</option>
          <option value="Solved">Solved</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <!-- TODO: Add a plus icon to the button-->
      <button type="button" class="btn btn-outline-success" (click)="addFilter()">Add filter</button>
    
    </div>
  </div>
  

<br>
<br>
<div *ngIf="showList">
  <list-users [users]="users"></list-users>
</div>

</div>
  
